/* Ogólne style dla Navbar */
.navbar {
  font-family: Helvetica;
  border-bottom: 3px solid #694438; /* Zwiększony border-bottom */
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Zwiększony cień */
  background: linear-gradient(to bottom, #fefae0c9, #a5a391);
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 3rem 0px 4rem;
}

.logo a {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  border: #473a2e solid;
  border-radius: 50px;
  text-shadow: 5px 1px 3px #f1e2e2;
  padding: 0px 20px 0px 20px;
  box-shadow: 2px 2px 22px #473a2e;
  text-decoration: none;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
.logo a:hover {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  color: #000;
  animation: slidebg 2s linear infinite;
}

.nav-items {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  color: #4d4c4c;
  font-size: 1.4rem;
  font-weight: bold;
  padding-right: 25px;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

li a:hover {
  color: black;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

nav ul li a.active {
  color: #000000;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.login-button {
  color: #4d4c4c;
  background-color: #c1ce9b;
  font-weight: bold;
  border: 2px solid #472a21; /* Dodanie obramowania */
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
  margin-left: 15px; /* Odstęp między listą a przyciskiem */
  display: flex;

  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Dodanie przejścia */
}

.login-button:hover {
  background-color: #333; /* Zmiana koloru tła przy najechaniu */
  color: #c1ce9b;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.7); /* Dodanie cienia przy najechaniu */
}

.auth-section {
  display: flex;
  align-items: center;
  margin-left: 15px; /* Odstęp między listą a sekcją uwierzytelniania */
}

.auth-section .username {
  margin-right: 10px;
  color: #000;
}

.logout-button {
  background-color: #000;
  color: #fefae0;
  font-weight: bold;
  border: 2px solid #694438; /* Dodanie obramowania */
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #333;
  color: #fff;
}
